@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* typography styles */
.row{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.padding{
    padding: 120px 0;
}
.color-primary{
    color: #ff42a5;
}
.section-title{
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}
.section-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}
.gradient-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-primary{
    background-color: #FF42A5;
}
.btn-primary{
    background-color: #FF42A5;
    padding: 15px 30px;
    border-radius: 48px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    transition: all 0.3s ease-in-out;
}
.btn-primary:hover{
    background-color: #c9307f;
    transform: translateY(-2px);
}
.btn-secondary{
    background-color: #4EC5F7;
    padding: 15px 30px;
    border-radius: 48px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    transition: all 0.3s ease-in-out;
}
.btn-secondary:hover{
    background-color: #2690be;
    transform: translateY(-2px);
}

/* navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    background-color: white;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logo img{
    width: 70px;
}
.logo h2{
    font-size: 40px;
    font-weight: 700;
    color: #0B0223;
}
.logo h2 span{
    color: #FF42A5;
}
header{
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.nav-menu li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.nav-menu li a:hover{
    color: #FF42A5;
}
.nav-menu li:last-child{
    padding: 0px 15px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
}
.nav-menu li:last-child i{
    font-size: 20px;
}



/* ----- banner section -------- */
.banner-section{
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.banner-title-sm{
    color: #0B0223;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-title-lg{
    font-size: 68px;
    font-weight: 800;
    text-transform: uppercase;
}
.banner-text{
    margin-top: 24px;
}
.banner-text ul{
    list-style: none;
}
.banner-text ul li{
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
    text-transform: lowercase;
    margin: 8px 0;
}
.banner-text i{
    margin-right: 5px;
    color: #FF42A5;
}

.banner-btn{
    margin: 30px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.banner-img{
    width: 50%;
}
.banner-img img{
    width: 100%;
}


/* about section */
.about-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.about-container{
    gap: 24px;
}
.about-img{
    width: 55%;
}
.about-img img{
    width: 100%;
}
.about-content{
    width: 45%;
    text-align: right;
}
.about-btn{
    margin-top: 32px;
}
.about-caption{
    margin-top: 24px;
}
.about-caption p{
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px; /* 187.5% */
}
.about-caption span{
    font-size: 27px;
    font-weight: 700;
}


/* ------ video section ----------- */
.videos-title, .videos-description{
    text-align: center;
}
.video-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-start;
    gap: 20px;
    width: 75%;
    margin: 0 auto;
    margin-top: 48px;
}
.video-img{
    height: 280px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    cursor: pointer;
}
#video-img-1{
    background-image: url("images/Rectangle\ 4.png");
}
#video-img-1:hover{
    background-image: url("images/Rectangle\ 4.png"), linear-gradient(#0d102895, #0d102892), url("images/hover_bg.png");
}
#video-img-2{
    background-image: url("images/Rectangle\ 5.png");
}
#video-img-2:hover{
    background-image: url("images/Rectangle\ 5.png"), linear-gradient(#0d102895, #0d102892), url("images/hover_bg.png");
}
#video-img-3{
    background-image: url("images/Rectangle\ 6.png");
}
#video-img-3:hover{
    background-image: url("images/Rectangle\ 6.png"), linear-gradient(#0d102895, #0d102892), url("images/hover_bg.png");
}
#video-img-4{
    background-image: url("images/Rectangle\ 7.png");
}
#video-img-4:hover{
    background-image: url("images/Rectangle\ 7.png"), linear-gradient(#0d102895, #0d102892), url("images/hover_bg.png");
}

.video-box p{
    margin-top: 24px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}


/* --------- Feature section ----------- */
.feature-content{
    width: 35%;
    margin-left: 8%;
    text-align: right;
}
.feature-img{
    width: 60%;
    display: flex;
    align-items: flex-end;
}
.feature-img img{
    width: 65%;
}
.feature-overlap{
    width: 100%;
    position: relative;
    left: 18%;
    top: 15vh;
}
.feature-overlap img{
    width: 100%;
}


/* ---------- Tags Section ------------ */
.tag-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.tag-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 50px;
    font-weight: 600;
    border: 1px solid white;
}

.tag img{
    width: 40px;
}
.tag p{
    color: #0B0223;
}
.tag:hover{
    border-color: #FF42A5;
}
.tag:hover p{
    color: #FF42A5;
}

/* ------- Footer section ---------- */
.footer-section{
    background-color: #0B0223;
    text-align: center;
}
.footer-logo h2{
    color: white;
}
.footer-links, .social-links, .support-links{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.footer-section a{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}
.footer-section a:hover{
    text-decoration: underline;
    color: #FF42A5;
}
.footer-links{
    margin: 56px 0;
    padding: 10px;
}
.footer-links li a{
    font-weight: 600;
}
.social-links{
    gap: 40px;
}
.social-links i{
    font-size: 28px;
}
.support-links{
    margin-top: 60px;
    padding: 10px;
}
.support-links li a{
    font-size: 14px;
}
.copyright{
    color: white;
    display: block;
    padding: 10px 0;
    margin-top: 10px;
}



/*  Media Query for medium device */
@media screen and (max-width: 768px) {
    .row{
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    .padding{
        padding: 100px 24px;
    }
    header{
        position: static;
    }
    .nav-menu{
        margin-top: 20px;
    }
    .banner-section{
        padding: 24px 24px;
        background: none;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 48px;
    }
    .banner-img {
        width: 90%;
    }
    .banner-btn{
        justify-content: center;
    }

    .about-content{
        width: 100%;
        text-align: center;
    }
    .about-img {
        width: 90%;
    }    
    .video-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .feature-container{
        gap: 48px;
    }
    .feature-content{
        width: 100%;
        margin: 0px;
        text-align: center;
    }
    .feature-img{
        width: 100%;
    }
    .tag-container{
        flex-direction: row;
    }
    .footer-container{
        width: 60%;
        margin: 0 auto;
    }
    .footer-links, .support-links{
        flex-wrap: wrap;
        gap: 50px;
    }
}
/*  Media Query for Mobile device */
@media screen and (max-width: 576px) {
    .row{
        width: 100%;
    }
    .padding{
        padding: 100px 16px;
    }
    .section-title{
        font-size: 40px;
    }
    .section-description{
        font-size: 16px;
    }
    .btn-primary, .btn-secondary{
        font-size: 16px;
    }
    header{
        box-shadow: none;
    }
    .nav-menu{
        flex-direction: column;
        gap: 30px;
        margin-top: 24px;
    }
    .nav-menu li a{
        font-size: 16px;
    }
    .about-img{
        width: 100%;
    }
    .about-content{
        width: 100%;
        text-align: center;
    }
    .video-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 48px;
    }
    .feature-overlap{
        left: 18%;
        top: 10vh;
    }
    .tag-container{
        gap: 10px;
    }
    .tag{
        gap: 5px;
    }
    .tag img{
        width: 35px;
    }
    .tag p{
        font-size: 16px;
    }
    .social-links{
        flex-wrap: wrap;
    }
}